@font-face {
    font-family: "Sergo";
    src: url("/fonts/Sergo-UI.ttf") format("ttf");
}
html{
    overflow-x: hidden;
    width: 100%;
}

.home-nav {
    background-color: #fcc12d;
    margin-left: 7%;
    ul {
        padding: 10px 0px;
        .nav-item {
            .nav-link {
                font-family: "Sergo", sans-serif;
                color: black;
                font-size: 22px;
                font-weight: bold;
            }
        }
    }
}

h1,h2{
  font-family: "Patrick", sans-serif;
}
button{
    font-family: "Sergo", sans-serif;
}

.sidebar {
    position: absolute;
    top: 0px;
    width: 7%;
    background-color: #414143;
    height: 251%;
    .content-sidebar {
        margin-top: 111px;
        img {
            cursor: pointer;
            width: 30px;
        }
    }

}

.content-page {
    margin-left: 7%;

    .home {
        background-image: url("/images/photo-1.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        //padding: 100px 0px;
        .first-section {
            height: 675px;
            h1 {
                color: white;
                font-size: 64px;
                font-weight: bold;
                margin-bottom: 40px;
            }
        }
    }

    .second-section {
        //margin-top: 113px;
        .news-block {
            background-color: #2177bc;
            position: relative;
            z-index: -1;
            padding: 50px 0px 20px;
            span{
                position: absolute;
                top: 0;
                font-size: 35px;
                color: white;
                font-weight: bold;
            }
            img{
                position: relative;
                width: 95%;
                z-index: -1;
            }
            .item-text{
                position: absolute;
                z-index: 1;
                button{
                    z-index: 30;
                    position: relative;
                    right: -160px;
                    bottom: -120px;
                }
            }
        }
        img {
            position: absolute;
            object-fit: cover;
            height: auto;
            width: 93%;
            z-index: -1;
            top: 0;
        }
        .first-block{
            .item-text{
                //margin-bottom: 100px;
                height: 360px;
            }
        }
        h2 {
            color: white;
            font-size: 45px;
            font-weight: bold;
            //margin-bottom: 40px;
        }
    }

    .classic-btn {
        background-color: transparent;
        padding: 10px 25px;
        border: 6px solid white;
        font-size: 35px;
        cursor: pointer;

        font-weight: bold;
        color: white;

        &.min{
            padding: 4px 20px;
            font-size: 20px;
        }
    }
}


.second-section{
    width: 100%;
    height: 100vh;
    .block{
        margin-right: 10px;

        width: 65%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        &.article-1{
            background-image: url("/images/photo-article-1.png");
        }
        &.article-2{
            background-image: url("/images/photo-article-2.png");
        }
        &.article-3{
            background-image: url("/images/photo-article-3.png");
        }
        &.info{
            width: 32%;
            background-color: #19a679;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 30px;
            height: 206%;
            span{
                font-size: 25px;
                color: white;
                font-family: "Sergo", sans-serif;
                &.decal{
                    padding-left: 98px;
                }
            }
        }
        &.maternelle-1{
            width: 32%;
            padding: 10px;
            background-color: #2177bc;
            background-image: url("/images/photo-2.png");
            background-size: 95%;
            position: relative;
            h2{
                font-size: 25px;
            }
            span{
                position: absolute;
                top: 10px;
                font-size: 35px;
                color: white;
                font-weight: bold;
            }
            .classic-btn {
                background-color: transparent;
                padding: 7px 25px;
                bottom: -70px;
                left:90px;
                border: 6px solid white;
                font-size: 15px;
                position: relative;
                cursor: pointer;
                font-weight: bold;
                color: white;
            }
        }
    }
}