@font-face {
    font-family: "Sergo";
    src: url("/fonts/Sergo-UI.ttf") format("ttf");
}

html {
    overflow-x: hidden;
    width: 100%;
}

.home-nav {
    background-color: #fcc12d;
    margin-left: 7%;
    ul {
        padding: 10px 0px;
        .nav-item {
            .nav-link {
                font-family: "Sergo", sans-serif;
                color: black;
                font-size: 22px;
                font-weight: bold;
            }
        }
    }
}

h1, h2 {
    font-family: "Patrick", sans-serif;
}

button {
    font-family: "Sergo", sans-serif;
}

.sidebar {
    position: fixed;
    top: 0px;
    width: 7%;
    background-color: #414143;
    height: 100%;
    display: flex;
    justify-content: center;
    .content-sidebar {
        img {
            cursor: pointer;
            width: 30px;
        }
    }

}

.content-page {
    margin-left: 7%;

    .home {
        &.white{
            background-color: transparent;
            background-image: none;

        }
        &.galerie {
            background-color: #43b77a;
            background-image: none;
            .col-md-4 {
                padding: 5rem;
            }
            h2 {
                color: white;
                font-weight: bold;
            }
        }

        &.resa {
            padding: 90px 0px 90px;
            .form-group {
                label {
                    padding-left: 30px;
                }
                input {
                    width: 65%;
                }
                .co {
                    margin-left: 160px;
                }
                .inscri {
                    margin-left: 170px;
                }
            }
        }

        &.temoignages {
            background-color: #7789a2;
            background-image: none;
            padding: 50px 0px 50px;
            h2 {
                color: white;
                font-weight: bold;
            }
            p {
                font-size: 19px;
                color: white;
                text-align: center;
            }
        }

        &.acces {
            background-color: #7fa8d7;
            background-image: none;
        }

        &.orientation{
            background-color: #2f3490;
            background-image: none;
            h1{
                color: white;
                font-weight: bold;
                font-size: 70px;
            }
            img{
                margin-bottom: 15px;
            }
        }

        &.sante{
            background-color: #f06d54;
            background-image: none;
            h1{
                color: white;
                font-weight: bold;
                font-size: 70px;
            }
            img{
                margin-bottom: 15px;
            }
        }

        &.logement {
            background-color: #7789a2;
            background-image: none;
            h1{
                color: white;
                font-weight: bold;
                font-size: 70px;
            }
            img{
                margin-bottom: 15px;
            }
        }

        &.scolarite{
            background-color: #569272;
            background-image: none;
            h1{
                color: white;
                font-weight: bold;
                font-size: 70px;
            }
            img{
                margin-bottom: 15px;
                width: 90px;
            }
        }

        &.loisir{
            background-color: #c02f2f;
            background-image: none;
            h1{
                color: white;
                font-weight: bold;
                font-size: 70px;
            }
            img{
                margin-bottom: 15px;
                width: 70px;
            }
        }

        &.mobilite{
            background-color: #569272;
            background-image: none;
            h1{
                color: white;
                font-weight: bold;
                font-size: 70px;
            }
            img{
                margin-bottom: 15px;
                width: 70px;
            }
        }

        &.voyage{
            background-color: #4b84a1;
            background-image: none;
            h1{
                color: white;
                font-weight: bold;
                font-size: 70px;
            }
            img{
                margin-bottom: 15px;
            }
        }

        background-image: url("/images/photo-1.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 220px 0px;
        .first-section {
            //height: 675px;
            h1 {
                color: white;
                font-size: 64px;
                font-weight: bold;
                margin-bottom: 40px;
            }
        }
    }

    .second-section {
        //margin-top: 113px;
        .news-block {
            background-color: #2177bc;
            position: relative;
            z-index: -1;
            padding: 50px 0px 20px;
            span {
                position: absolute;
                top: 0;
                font-size: 35px;
                color: white;
                font-weight: bold;
            }
            img {
                position: relative;
                width: 95%;
                z-index: -1;
            }
            .item-text {
                position: absolute;
                z-index: 1;
                button {
                    z-index: 30;
                    position: relative;
                    right: -160px;
                    bottom: -120px;
                }
            }
        }
        img {
            position: absolute;
            object-fit: cover;
            height: auto;
            width: 93%;
            z-index: -1;
            top: 0;
        }
        .first-block {
            .item-text {
                //margin-bottom: 100px;
                height: 360px;
            }
        }
        h2 {
            color: white;
            font-size: 45px;
            font-weight: bold;
            //margin-bottom: 40px;
        }
    }

    .classic-btn {
        background-color: transparent;
        padding: 10px 25px;
        border: 6px solid white;
        font-size: 25px;
        cursor: pointer;

        font-weight: bold;
        color: white;

        &.min {
            padding: 4px 20px;
            font-size: 20px;
        }
    }
}

.second-section {
    width: 100%;
    height: 100vh;
    .block {
        margin-right: 10px;

        width: 65%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        &.article-1 {
            background-image: url("/images/photo-article-1.png");
        }
        &.article-2 {
            background-image: url("/images/photo-article-2.png");
        }
        &.article-3 {
            background-image: url("/images/photo-article-3.png");
        }
        &.info {
            width: 32%;
            background-color: #19a679;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 30px;
            height: 206%;
            span {
                font-size: 25px;
                color: white;
                font-family: "Sergo", sans-serif;
                &.decal {
                    padding-left: 98px;
                }
            }
        }
        &.maternelle-1 {
            width: 32%;
            padding: 10px;
            background-color: #2177bc;
            background-image: url("/images/photo-2.png");
            background-size: 95%;
            position: relative;
            h2 {
                font-size: 25px;
            }
            span {
                position: absolute;
                top: -10px;
                font-size: 35px;
                color: white;
                font-weight: bold;
            }
            .classic-btn {
                background-color: transparent;
                padding: 7px 20px;
                bottom: -70px;
                left: 90px;
                border: 6px solid white;
                font-size: 15px;
                position: relative;
                cursor: pointer;
                font-weight: bold;
                color: white;
            }
        }
    }
}

.article-1 {
    background-image: url("/images/photo-article-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.article-2 {
    background-image: url("/images/photo-article-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.article-3 {
    background-image: url("/images/photo-article-3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.page-content {
    height: 248vh;
    &.home{
        height: auto !important;
        padding: 0px 0px 520px;
    }
}

footer {
    a {
        color: white;
    }
}

.sub-deck {
    color: white;
    font-weight: normal;
    font-size: 14px;
}

a {
    &.classic-btn {
        text-decoration: none;
        text-underline: none;
    }
}

.itm-metro{
    span{
        font-size: 17px;
        font-weight: bold;
    }
}

#map{
    height: 300px;
    width: 100%;
    //background-color: black;
}

.blog-list{
    margin-top: 20px;
    .block{
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 100px 20px;
        h2{
            color: white;
            font-size: 26px;

        }
    }
}