.title-seo {
    color: #1a0dab;
    font-size: 18px;
    line-height: 21px;
}

.link-seo {
    margin-top: -10px;
    color: #006621;
    font-size: 13px;
    line-height: 16px;
}

.description-seo {
    margin-top: -10px;
    color: #545454;
    font-size: 13px;
    line-height: 18px;
}